.button-base {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @color-white;
  background-color: @color-green;

  border: @color-green;
  text-align: center;
  text-transform: uppercase;
  display: block;

  &--disabled {
    color: @special_dark-grey;
    background-color: @color-grey;
    border: @color-grey;
  }
}
