.main-title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @color-white;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  &--size-s {
    font-size: 24px;
    line-height: 36px;

    @media (min-width: @tablet-width) {
      font-size: 36px;
    }
  }

  &--secondary {
    color: @color-black;
  }
}
