.example {
  background-color: @special_little-dark-grey;
}

.example__wrapper {
  padding: 25px 0 40px 0;
}

.example__title {
  color: @color-black;
  margin-bottom: 40px;
}

.example-text__description {
  margin-bottom: 35px;
}

.example__number {
  text-align: center;
}

.example__description {
  font-size: 12px;
  text-align: center;
}

.example__subtitle {
  text-align: center;
  text-transform: uppercase;
}
