.example {
  background-color: @special_little-dark-grey;
}

.example__wrapper {
  padding: 25px 0 40px 0;

  @media (min-width: @desktop-width) {
    width: 436px;
  }
}

.example__title {
  color: @color-black;
  margin-bottom: 40px;
}

.example-text__description {
  margin-bottom: 35px;
}

.example__number {
  text-align: center;
}

.example__description {
  font-size: 12px;
  text-align: center;
}

.example__subtitle {
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.example__list {
  @media (min-width: @tablet-width) {
    display: flex;
    margin-right: auto;
  }
}

.example__inner {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.example__container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
