.main-nav__wrapper {
  padding: 22px 122px;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-black;
  display: block;
}

.main-nav__item:not(:last-child) {
  padding-bottom: 46px;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    display: flex;
    width: 480px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 550px;
  }

  .main-nav__toggle {
    display: none;
  }
}
