.main-footer {
  background-color: @color-grey;
}

.main-footer__contacts {
  padding: 26px 0;
}

.main-footer__logo {
  padding: 40px 73px 0;
  margin-bottom: 52px;
  display: block;
}

.main-footer__social {
  padding: 0 73px;
  margin-bottom: 43px;
}

.main-footer__copyright {
  padding: 0 0 22px;
}
