.product {
  font-family: "Oswald", sans-serif;
  color: @color-white;
}

.product__wrapper {
  background-color: @background-green;
  padding-top: 27px;
  margin-bottom: 20px;
}

.product__title {
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.product__slogan {
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.product__button {
  padding: 7px 44px;
}
