.product {
  background-color: @background-green;
  font-family: "Oswald", sans-serif;
  color: @color-white;
}

.product__header {
  padding-top: 27px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    min-height: 696px;
  }
}

.product__title {
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.product__slogan {
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.product__button {
  display: inline-block;
  padding: 7px 44px;
  margin: 0;

  text-decoration: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 244px;
  }
}

.product__image {
  display: block;

  @media (min-width: @tablet-width) {
    order: 2;
  }
}
