.program-offer {
  background-color: @color-grey;
}

.program-offer__wrapper {
  padding: 30px 0 22px 0;
  margin-bottom: 20px;
}

.program-offer__title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  color: @color-black;
  text-transform: uppercase;
}

.program-offer__description {
  margin-bottom: 42px;
}

.program-offer__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-black;
  display: block;

  margin: 0;
  padding: 0;
}
