@import "blocks/fonts";
@import "blocks/button-base";
@import "blocks/main-title";
@import "blocks/main-heading";
@import "blocks/container";
@import "blocks/visually-hidden";
//Главная
@import "blocks/main-container";
@import "blocks/main-header";
@import "blocks/main-nav";
@import "blocks/menu-list";
@import "blocks/product";
@import "blocks/program";
@import "blocks/program-offer";
@import "blocks/advantages";
@import "blocks/example";
@import "blocks/range";
@import "blocks/main-footer";
@import "blocks/contacts";
@import "blocks/social";
@import "blocks/copyright";
//Форма
@import "blocks/main-form";
@import "blocks/survey";
@import "blocks/field";
@import "blocks/radio";
@import "blocks/control";
@import "blocks/field-comment";
//Каталог
@import "blocks/main-catalog";
@import "blocks/product-card";
@import "blocks/card-more";
@import "blocks/catalog";
@import "blocks/card-additional";
@import "blocks/additional-product-card";
@import "blocks/special-gift";

//Цвет
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;
@color-black: #000000;
@color-white: #ffffff;
@background-green: rgba(104, 183, 56, 0.85);
@color-green: #68b738;
@color-grey: #f2f2f2;
@special-grey: #666666;
@special_little-dark-grey: #eaeaea;
@color_near-black: #111111;
@border-color-grey: #e6e6e6;
//Viewports
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
