.survey__wrapper {
  padding-bottom: 32px;
}

.survey__inner {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.survey__description {
  color: @color-black;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}

.survey__group:not(:last-child) {
  margin-bottom: 14px;
}

.survey__data-container {
  margin-bottom: 52px;

  @media (min-width: @desktop-width) {
    min-width: 570px;
  }
}

.survey__radio-container {
  display: flex;
  flex-direction: column;

  color: @special_dark-grey-2;
  margin-bottom: 45px;

  @media (min-width: @tablet-width) {
    min-width: 630px;
  }

  @media (min-width: @desktop-width) {
    min-width: 570px;
  }
}

.survey__contacts-container {
  margin-bottom: 24px;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.survey__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.survey__comment-container {
  margin-bottom: 22px;
}

.survey__checkbox-container {
  margin-bottom: 34px;

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 221px 221px;
    gap: 32px 123px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.survey__button-container {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.survey__submit {
  padding: 7px 45px;
  margin-bottom: 21px;
}

.survey__legend {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
