.additional-product-card__title {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  color: @special_dark-grey-2;
}

.additional-product-card__description {
  margin: 0;
}

.additional-product-card__sublist {
  margin: 0;
  margin-bottom: 15px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.additional-product-card__item {
  @media (min-width: @desktop-width) {
    display: flex;
    width: 895px;
  }
}

.additional-product-card__item:not(:last-child) {
  margin-bottom: 31px;
}

.additional-product-card__button {
  padding: 10px 109px;
}

.additional-product-card__inner {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}
