.card-more__title {
  color: @color_near-black;
  margin-top: 103px;
  margin-bottom: 8px;
  padding: 0;
}

.card-more__text {
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
}

.card-more__button {
  padding: 10px 94px;
}
