.card-additional__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }
}

.card-additional__title {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-bottom: 80px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: @desktop-width) {
    border: 0;
  }
}

.card-additional__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    width: 896px;
    margin: 0;
  }
}
