.product-card__title {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.product-card__description {
  margin: 0;
}

.product-card__button {
  padding: 10px 109px;
  text-align: center;
}
