.special-gift {
  background-color: @background-green;
}

.special-gift__description {
  font-size: 16px;
  line-height: 20px;
  color: @color-white;

  padding-top: 186px;
  padding-bottom: 43px;
  margin: 0;
  margin-bottom: 63px;
}
